html, body {
    margin: 0px;
    padding: 0px;
}
* {
    box-sizing: border-box;
    font-family: Microsoft JhengHei, monospace;
}
.wrap {
    height: 100%;
    width: 100%;
}
#warning {
    background: lightpink;
    color: crimson;
    font-size: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.navbar {
    background: steelblue;
    color: whitesmoke;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.navbar__title {
    font-size: 1.5rem;
}
.navbar__list {
    color: #ffffffde;
    padding: 0.4rem;
    font-weight: bold;
}
.navbar__list:hover {
    color: white;
    text-decoration: none;
}
.register__title,
.login__title,
.my__comment,
.my__profile--title {
    color: steelblue;
    font-size: 25px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.latest {
    color: steelblue;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    font-weight: bold;
}
.comment {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.comment__block,
.new__comment--text {
    border: steelblue 1.5px solid;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 3px 3px 5px lightgray;
    word-break: break-word;
}
.comment__block {
    color: rgb(90, 130, 163);
}
.new__comment--text {
    color: grey;
    white-space: pre-line;
}
.comment__block--info,
.subcomment__block--info {
    color: steelblue;
}
.origin {
    font-size: 0.5rem;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: steelblue;
    color: white;
    text-align: center;
}
.comment__info--time {
    font-size: 0.8rem;
}
.subcomment__info--time {
    font-size: 0.7rem;
}
.comment__text,
.comment__update--text,
.subcomment__text,
.subcomment__input {
    font-weight: initial;
    word-break: break-word;
    white-space: pre-line;
    color: grey;
    outline: none;
}
.comment__text,
.subcomment__text {
    border: hidden;
    font-size: 1rem;
}
.comment__update--text {
    border: solid 1px lightgray;
    padding: 5px;
    font-size: 18px;
    min-height: 70px;
}
.comment__update--form {
    display: flex;
    flex-direction: column;
}
.comment__update--cancel {
    border: 1px solid rgb(169, 196, 218);
    border-radius: 5px;
    padding: 0.4rem;
    margin: 10px 0px 10px 10px;
    outline: none;
    font-size: 0.7rem;
    background-color: whitesmoke;
    color: steelblue;
    text-align: center;
}
.comment__update--cancel:hover {
    cursor: pointer;
    outline: none;
    background-color: steelblue;
    color: whitesmoke;
}
.comment__update--confirm {
    margin-bottom: 10px;
}
.comment__edit:hover,
.comment__delete:hover {
    cursor: pointer;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.page__btn {
    text-decoration: none;
    color: gray;
    outline: none;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
}
.page__btn:hover {
    outline: none;
    cursor: pointer;
    color: steelblue;
    border-bottom: solid 1px steelblue;
    text-decoration: none;
}
.on {
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    border-bottom: solid 1px steelblue;
    color: steelblue;
}
/* register.php + login.php */
.register, 
.login {
    min-width: 300px;
    max-width: 400px;
    width: 100%;
    min-height: 250px;
    max-height: 500px;
    height: 100%;
    margin: 0 auto;
}
.register__block,
.login__block {
    border: steelblue 1.5px solid;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    color: steelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px lightgray;
}
.register__nickname,
.register__username,
.register__password,
.login__username,
.login__password {
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    height: 45px;
    margin-bottom: 15px;
    border-bottom: 1.5px solid steelblue;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 17px;
    outline: none;
}
.btn {
    background: steelblue;
    color: whitesmoke;
    opacity: 0.7;
    border: none;
    border-radius: 5px;
    outline: none;
}
.button {
    background: steelblue;
    font-size: 0.7rem;
    color: whitesmoke;
    opacity: 0.7;
    border: none;
    border-radius: 5px;
    max-width: 4.5rem;
    padding: 0.4rem;
    outline: none;
    text-decoration: none;
    text-align: center;
}
.btn:hover,
.button:hover,
.submit:hover {
    cursor: pointer;
    opacity: 1;
    outline: none;
    color: whitesmoke;
    text-decoration: none;
}
.navbar__member {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.new__comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: steelblue;
    font-size: 20px;
}
.new__comment--name {
    font-size: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}
.new__comment--block {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.new__comment--text {
    outline: none;
    font-size: 0.9rem;
    min-height: 6rem;
    margin: 10px 0px;
    padding: 0.7rem;
}
.register__err,
.login__err {
    display: flex;
    justify-content: center;
    color: crimson;
    margin: 10px;
}

/* profile.php*/
.profile__err,
.profile__remind,
.comment__update--err {
    display: flex;
    justify-content: center;
    color: crimson;
    margin-bottom: 20px;

}
.my__profile--border {
    border: steelblue 1.5px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 1.4rem;
    color: steelblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 3px 5px lightgray;
}
.hidden {
    display: none;
}
.my__profile--block ~ .my__profile--block {
    margin-top: 20px;
}
.my__profile--input {
    width: 250px;
    height: 40px;
    font-size: 15px;
    border-bottom: 1.5px solid steelblue;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}
.my__profile--nickname + .my__nickname--update,
.my__profile--username + .my__username--update,
.my__profile--password + .my__password--update {
    margin-top: 10px;
}
.edit__img:hover {
    cursor: pointer;
}
.submit {
    padding: 8px;
    font-size: 13px;
    margin-top: 10px;
    background: steelblue;
    color: whitesmoke;
    opacity: 0.7;
    border: none;
    border-radius: 5px;
    outline: none;
}
.id {
    display: none;
}
.nocomment {
    color: gray;
    margin: 20px 0px 20px 0px;
}
/* subcomment*/
.subcomment__block {
    background-color: #4682b412;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: steelblue;
    word-break: break-word;
}
.subcomment__input {
    border: solid 1px lightgray;
    padding: 10px;
    font-size: 0.8rem;
    min-height: 70px;
}
.subcomment__input ~ .btn {
    align-self: flex-start;
    margin: 0px;
}
.subcomment__block ~ .subcomment__block {
    margin-top: 0.7rem;
}

/* like */
.like__area {
    display: flex;
    align-items: center;
}
.like, .liked {
    margin: 10px 0px 5px 0px;
}
.like:hover,
.liked:hover {
    cursor: pointer;
}
.liked__text {
    margin: 10px 0px 5px 10px;
    font-size: 16px;
}
