.subcomment {
  &__block {
    background-color: $sub-bg-color;
    border-radius: 10px;
    padding: 1rem;
    color: $main-color;
    word-break: break-word;
  }

  &__block ~ &__block {
    margin-top: 0.7rem;
  }

  &__info--time {
    font-size: font-size(0.7);
  }

  &__username {
    font-size: font-size(1.2);
  }

  &__text {
    @extend %comment-text;
    @extend %comment-border;
  }

  &__input {
    border: solid 1px $commt-border-color;
    padding: 10px;
    font-size: font-size(0.8);
    min-height: 70px;
    @extend %comment-text;
  }
}